<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BOOKING BEE HOMEPAGE</title>
    <link rel="stylesheet" type="text/css" href="../assets/styling.css">
    <script src="https://kit.fontawesome.com/9edd0d232a.js" crossorigin="anonymous"></script>
</head>

<body>
    <div class="container">
        <div class="navBar">
            <nav>
                <a href="/login">Login</a>
                <a href="/signup">Sign Up</a>
                <a href="#contact">Contact</a>
            </nav>
        </div>
    </div>
    <div class="rowMod">
        <div class="logoContainer">
            <img src="/assets/logo-black.svg" alt="" class="homePic">
        </div>
        <div class="aboutSect">
            <h1>About Us</h1>
            <p>Are you tired of waiting in long lines to purchase your cinema tickets? Look no further than Booking Bee,
                the ultimate cinema ticket booking system!

                With Booking Bee, you can experience the convenience of booking your tickets with just a few clicks. Our
                easy-to-use platform allows you to select your preferred movie, showtime, and seat location all from the
                comfort of your own home.

                Not only does Booking Bee save you time and effort, but it also guarantees you the best seats in the
                house. No more settling for subpar seating or struggling to find seats together for your group - Booking
                Bee ensures you get the seats you want, when you want them.

                But the benefits of Booking Bee don't stop there. Our system allows you to easily manage your bookings
                and make changes as needed, so you can have peace of mind knowing that your movie night plans are in
                good hands.

                So why wait in long lines or struggle to find the perfect seats for your movie night? Get buzzing with
                Booking Bee and enjoy the convenience, comfort, and ease of cinema ticket booking at your fingertips.
            </p>
        </div>
    </div>
    <div id="contact" class="container">
        <h1>Follow us on</h1>
        <div class="social-icons">
            <a href="https://instagram.com/"><i class="fa-brands fa-instagram"></i></a>
            <a href="https://twitter.com/"><i class="fa-brands fa-twitter"></i></i></a>
            <a href="https://github.com/"><i class="fa-brands fa-facebook"></i></a>
            <a href="https://slack.com/"><i class="fa-brands fa-slack"></i></a>
            <a href="https://slack.com/"><i class="fa-brands fa-linkedin"></i></a>
            <a href="https://slack.com/"><i class="fa-brands fa-reddit"></i></a>
        </div>

    </div>

</body>

</html>