<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SignUp Page</title>
    <link rel="stylesheet" type="text/css" href="../assets/styling.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
</head>

<body>
    <section class="vh-100">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-6 text-black">

                    <div class="d-flex align-items-center h-custom-2 px-5 ms-xl-4 mt-5 pt-5 pt-xl-0 mt-xl-n5">

                        <form id="signUpForm" style="width: 23rem;" method="POST">

                            <h3 class="fw-normal mb-3 pb-3" style="letter-spacing: 1px;">Sign Up</h3>

                            <!-- {{if .}} -->
                            <div>
                                <p style="color: red;">{{.}}</p>
                            </div>                            
                            <!-- {{end}} -->

                            <div class="form-outline mb-4">
                                <input type="text" name="registerFname" class="form-control" required/>
                                <label class="form-label" for="registerFName">First Name</label>
                            </div>

                            <div class="form-outline mb-4">
                                <input type="text" name="registerLname" class="form-control" required/>
                                <label class="form-label" for="registerLName">Last Name</label>
                            </div>

                            <div class="form-outline mb-4">
                                <input type="email" name="registerEmail" class="form-control" required/>
                                <label class="form-label" for="registerEmail">Email Address</label>
                            </div>

                            <div class="form-outline mb-4">
                                <input type="password" name="registerPassword" class="form-control" required/>
                                <label class="form-label" for="registerPassword">Password</label>
                            </div>

                            <div class="form-outline mb-4">
                                <input type="password" name="registerRepeatPassword" class="form-control" required/>
                                <label class="form-label" for="registerRepeatPassword">Confirm password</label>
                            </div>

                            <div>
                                <button id="loginBtn" class="btnCust btn2" type="submit">Sign Up</button>
                            </div>

                            <p>Already have an account? <a href="/login" class="link-info">Login here</a></p>

                        </form>

                    </div>

                </div>
                <div class="col-sm-6 px-0 d-none d-sm-block">
                    <img src="../assets/logo-white.svg" alt="Login image" class="w-100 vh-100"
                        style="object-fit: cover; object-position: left;">
                </div>
            </div>
        </div>
    </section>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
        crossorigin="anonymous"></script>
</body>

</html>